extends layout/html5

block title
    | ui一览

block main
    h1.mb10.f24 按钮
    div.mb20
        - var types = ["","btnDark","btnBlue","btnOrange","btnRed","btnGreen"]
        p.mb5
            each type in types
                button.btn(class=type)
                    span button #{type}

        p.mb5
            each type in types
                a.btn(class=type)
                    span link #{type}

        p.mb5
            each type in types
                span.btn(class=type)
                    input(type="submit")
        p.mb5
            button.btn.btnRed.f24
                span
                    b.icon-warning.yellow
                    |警告

    h1.mb10.f24 表单验证
    form.mb20(action="")
        div.p5.cloneAble
            input.test(required,type="text",placeholder="required")
            button.btn.btnGreen.add(type="button")
                span 增加
            button.btn.btnRed.del(type="button")
                span 删除
        p.p5
            input(required,type="text",placeholder="required")
            input(required,type="email",placeholder="email")
            input(required,type="number",placeholder="number",min="-10",max="10",step=".5")
            input(required,type="phone",placeholder="phone")
            input(required,type="tel",placeholder="tel")
            input(required,type="url",placeholder="url")
            input(required,type="text",placeholder="ajax验证",ajaxValidation="json/validation.json",data-method="get")
        p.p5
            input(required,matched,type="password",placeholder="密码",name="pw")
        p.p5
            input(required,matched,type="password",placeholder="重复密码",name="pw")
        p
            span.p5(needone)
                each item in [1,2,3,4,5,6,7]
                    input(type="checkbox",name="fuck[]")
                    | dd
        span.btn.btnBlue
            input(type="submit")

    h1.mb10.f24 切换全选
    p.p5.toggleCheck
        label
            input.checkAll(type="checkbox",name="fuck[]")
            | 全选
        span.p5
            each item in [1,2,3,4,5,6,7]
                label
                    input(type="checkbox",name="fuck[]")
                    | dd


